/* CSS RESEST!! START */


/*
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
    box-sizing: border-box;
}

/*
  2. Remove default margin
*/
* {
    margin: 0;
}

/*
  3. Allow percentage-based heights in the application
*/
html,
body {
    height: 100%;
}

/*
  Typographic tweaks!
  4. Add accessible line-height
  5. Improve text rendering
*/
body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}

/*
  6. Improve media defaults
*/
img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

/*
  7. Remove built-in form typography styles
*/
input,
button,
textarea,
select {
    font: inherit;
}

/*
  8. Avoid text overflows
*/
p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

/*
  9. Create a root stacking context
*/
#root,
#__next {
    isolation: isolate;
}



/* CSS RESEST!! END */


:root {
    --Orange: hsl(25, 97%, 53%);
    --White: hsl(0, 0%, 100%);
    --Light-Grey: hsl(217, 12%, 63%);
    --Medium-Grey: hsl(216, 12%, 54%);
    --Dark-Blue: hsl(213, 19%, 18%);
    --Very-Dark-Blue: hsl(216, 12%, 8%);
    --Button-colors: hsl(213, 36%, 25%);
    --fw-reg: 400;
    --fw-bold: 700;
}

body {
    font-size: 15px;
    background-color: var(--Very-Dark-Blue);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Overpass', sans-serif;
}


article {
    background-color: var(--Dark-Blue);
    padding: 1.5rem;
    border-radius: 20px;
    margin: 0 20px;
    max-width: 350px;
}


/* Styling  All Rounded Rating Buttons*/
.rounded-button {
    border-radius: 50%;
    background-color: var(--Button-colors);
    padding: 1rem;
    margin-bottom: 1rem;
}


/* Styling the Header */
h1 {
    color: var(--White);
    padding: .5rem 0;}


p {
    font-size: 14px;
    color: var(--Medium-Grey);
}


label {
    
    padding: 5px;
    position: relative;
    
}


.ratings{
    margin: 2rem 0;
    display: flex;
    justify-content: space-between;
}

label input {
    display: none;
    
}

label span {
    padding: 1rem;
    
background-color: var(--Button-colors);
    position: relative;
    overflow: hidden;
    line-height: 1;
    text-align: center;
    border-radius: 100%;
    font-size: 10pt;
    color: var(--Light-Grey);
    
 
    
    
}

input:checked+span {
    background: #ccf;
    border-color: #ccf;
}



/* Styling the Submit Button */
.submit-Button {
    background-color: var(--Orange);
    text-transform: uppercase;
    font-size: .8rem;
    color: var(--White);
    padding: .7rem 0;
    width: 100%;
    border: none;
    border-radius: 30px;
    font-weight: var(--fw-bold);
}

.submit-Button:hover {
    background-color: var(--White);
    color: var(--Orange);
    cursor: pointer;
}





/* Styling the Attribution */

.attribution {

    position: absolute;
    bottom: 10px;
    font-size: 14px;
    color: aliceblue;


}

.attribution a {
    text-align: center;
    color: hsl(228, 45%, 44%);
}



/* Javascript Style States */



.display {
    display: block!important;
}

.nodisplay {
    display: none;

}





.feedbackState {
    display: none;
    text-align: center;
}


.feedbackState img {
    margin: 1rem auto;
    width: 50%;
}



.feedbackState .ratingMessage {
    color: hsl(25, 70%, 66%);
    background-color: var(--Button-colors);
    display: inline-block;
    padding: .3rem 1rem;
    border-radius: 30px;
    margin-bottom: 1rem;
}